@import model.User
@(message: String, users: Set[User])
@main("Welcome to Play") {
    <h1>
    @message

    </h1>


    <form >
        <label>
            First name:
            <input id="msg" type="text" name="msg">
        </label><br>
        <label>
            Last name:
            <input id="user" type="text" name="user">
        </label><br>
        <input id="submit" type="submit" value="Submit">
    </form>


    <h2>
    @for(u <- users) {
        @u.toString
    }
    </h2>
}

<script>
        var msg = $("#msg").val();
        var username = $("#user").val();
        $("#submit").on("click", function () {
            $.ajax({
                type: "POST",
                url: "localhost:9000/tell",
                data: {
                    "message": "msg"
                },
                headers: {
                    "username": "username"
                },
                dataType: "application/json"
            })
        });

</script>
